name: release-please
on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: release-please
  cancel-in-progress: true


permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-22.04
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: dart
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
